.array-bar-background {
	background-color: #f4eaea;
	position: relative;
	margin: 15px 0;
	height: 300px;
	width: 40px;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
}

.array-bar-foreground {
	background: linear-gradient(to bottom, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width: 100%;
	opacity: 0;
	transition: 1s ease 0.3s;
}